<nav class="navbar navbar-expand-lg navbar-light cor">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold fs-3" href="/">Sistema</a>
  
      <button
        class="navbar-toggler"
        type="button"
        (click)="basicNavbar.toggle()"
        aria-expanded="true"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <div
        class="collapse navbar-collapse"
        id="navbarSupportedContent"
        mdbCollapse
        #basicNavbar="mdbCollapse"
      >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="admin/carros">Carros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="admin/marcas">Marcas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Sair</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>