/* You can add global styles to this file, and also import other style files */
@import '@fortawesome/fontawesome-free/css/all.css';
@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';

.centralized{
    text-align: center;
}

.right-align{
    text-align: right;
}

body{
    background-color: #252525;
}
